/* style page for the additional pages   */

/*  ...... header style......*/
body {
background-color: none;
}     

.header {
position: fixed;
display: inline-block;
left: 0;
right: 0;
width: 100%;
border-style: outset;
background-color: #CF9FFF;
}



/*      ...........Navigation -----------------   */


nav ul { 
Position: relative;
list-style-type: none;
margin: 0;
padding: 0;
float: right
}

li {
float: right;
border-right: 3px solid #bbb;
}

/*-------------------dropdown menu ------------------*/


li a, .dropbtn {
Position: relative;
display: inline-block;
padding: 3px;
background-color: blue;
line-height: 16px;
border-radius: 6px;
text-decoration: none;
color: white;
font-family: Arial;
font-size: 14px;
font-weight: bold;
}

li a:hover {
  background-color: red;
  color: white;
}

li a:active {
background-color: green;
color: white
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #CF9FFF;
  min-width: 100px; /*----check---------------------*/
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.0);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:#CF9FFF;}

.dropdown:hover .dropdown-content {
  display: block;
}


/*   ...........body style ---------------  */

    
.cont {
border: none;
clear: right;
}

#introh {
font-size: 40px;
padding: 0;
float: left;
color: white;
}

h2 {
clear: right;
margin-top: auto;
padding-top: 37px;
font-family:Arial;
text-align:center;
color:#0066FF;
font-style:bold;
font-size: 36px;
}

p {
margin: 5px;
text-align:justify;
font-size:20px;
}
/* -----------------images -------------------------*/
#pict1 {
float:left;
height: auto;
width: 50%;
}

#pict2 {
float:left;
height: auto;
width:50%;
}

/*-----------------------Forms ----------------------*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}


/*    ........Footer Style-----------------     */



.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #CF9FFF;
	color: black;
	text-align: center;
	padding-bottom: 2px;
}






